// myHeader.vue
.myHeader {
    width: 100%;
    height: 60px;
    // min-width: 620px;
    .myHeader-nav {
      height: 60px;
      width: 100%;
      // min-width: 1000px;
      display: flex;
      // position: relative;
      .myHeader-nav-letf {
        width: 320px;
        min-width: 320px;
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        .myHeader-nav-letf-logo {
          a {
            font-size: 0;
            img {
              margin-left: 50px;
              margin-right: 10px;
              border-radius: 5px;
            }
          }
        }
        .myHeader-nav-letf-title {
          color: #fff;
          font-size: 40px;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
      .myHeader-nav-right {
        // width: 400px;
        height: 60px;
        // min-width: 600px;
        display:flex;
        position: absolute;
        right: 0;
        // margin-left: auto;
        .myHeader-nav-right-menu {
            height: 60px;
            display:flex;
            align-items: center;
            // min-width: 680px;
            // max-width: 100%;
            .myHeader-nav-right-menu-ul-li:hover {
              background-position: left bottom;
              background-size: 100% 4px;
              background-color: rgba(0,0,0,0.05);
            }
            .myHeader-nav-right-menu-ul-li {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 5px;
                background: linear-gradient(to right,rgba(135,206,235),rgba(135,206,235)) no-repeat right bottom;
                background-size: 0 4px;
                transition: background-size 0.8s;
                .myHeader-nav-right-menu-img{
                    height: 60px;
                    display: flex;
                    align-items: center;
                    img {
                        height: 32px;
                    }
                }
                .myHeader-nav-right-menu-title {
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    h2 {
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        margin-top: 5px;
                        margin-left: 2px;
                        color: #fff;
                    }
                }
                .myHeader-nav-right-menu-ul-li-a {
                    display: flex;
                    align-items: center;
                    color: #fff;
                    text-decoration: none;
                    .myHeader-nav-right-menu-img{
                        height: 60px;
                        display: flex;
                        align-items: center;
                        img {
                            height: 32px;
                        }
                    }
                    .myHeader-nav-right-menu-title {
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        h2 {
                            display: flex;
                            align-items: center;
                            font-size: 20px;
                            margin-left: 5px;
                            margin-top: 5px;
                        }
                    }
                    .myHeader-nav-right-menu-sub-ul{
                      display: none;
                    }
                    .myHeader-nav-right-menu-sub-ul:before{
                      position: absolute;
                      content: "";
                      left: 50px;
                      top: -15px;
                      border-width: 8px;
                      border-style: dashed dashed solid dashed;
                      border-color: transparent transparent rgba(0,0,0,0.1) transparent;
                    }
                }
                a:hover .myHeader-nav-right-menu-sub-ul{
                    display: block;
                    position: absolute;
                    top: 60px;
                    border-radius: 5px;
                    background-color: rgba(0,0,0,0.1);
                    width: 150px;
                    // 缓慢渐入动画
                    @keyframes intoSub {
                      from { opacity: 0; }
                      to { opacity: 1; }
                    }
                    .myHeader-nav-right-menu-sub-li:hover  {
                      color: green;
                      background-color: rgba(0,0,0,0.15);
                      a {
                        text-decoration: none;
                        color: green;
                      }
                    }
                    animation: intoSub 1s ease-in-out;
                    .myHeader-nav-right-menu-sub-li {
                        height: 34px;
                        background-size: 0 0;
                        display: flex;
                        align-items: center;
                        div {
                          height: 34px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          margin-left: 15px;
                          img {
                            width: 26px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                          }
                            h2 {
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              font-size: 18px;
                              margin-top: 10px;
                              margin-left: 5px;
                              a {
                                text-decoration: none;
                                color: #fff;
                              }
                            }
                        }
                    }
                  
                }
            }

        }
        .myHeader-nav-right-loginInfo {
          height: 60px;
          width: 120px;
          margin-right: 50px;
          justify-content: center;
          .imgStyle {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            width: 120px;
            margin-top: 5px;
            img {
              border-radius: 50%;
              width: 48px;
              height: 48px;
            }
          }
          .myh2{
            height: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            h2 {
              color: rgba(255,255,255,0.5);
            }
            ul {
              display: none;
            }
            ul:before{
              position: absolute;
              content: "";
              left: 50%;
              top: -13px;
              border-width: 8px;
              border-style: dashed dashed solid dashed;
              border-color: transparent transparent #fff transparent;
            }
          }
        }
        .myHeader-nav-right-loginInfo:hover {
          .myh2 {
            ul {
              display: block;
              position: absolute;
              top: 75px;
              border-radius: 5px;
              height: 60px;
              width: 90px;
              background-color: #fff;
              li {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50%;
                font-size: 16px;
              }
              li:hover {
                font-weight: bold;
                color: green;
                background-color: rgba(0,0,0,0.1);
              }
            }
          }
        }

      }
      @media screen and (max-width: 1200px) {
        .myHeader-nav-right{display: none;}
      }
    }
  }

// comment.vue
.comment-box {
  // width: 600px;
  // height: 1000px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  .comment-box-info {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .comment-box-info-span {
      font-size: 1.5rem;
      margin-left: 15px;
      margin-top: 10px;
    }
  }
  .comment-box-main {
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    display: flex;
    img {
      position: relative;
      left: 0;
      top: 0;
      width: 48px;
      height: 48px;
      border-radius: 5px;
    }
    .comment-box-main-rght {
      // position: relative;
      // left: 53px;
      // top: -51px;
      margin-left: 5px;
      width: calc(100% - 48px - 5px);
      // height: 200px;
      background-color: #fff;
      .comment-box-main-rght-userInfo {
        height: 30px;
        display: flex;
        align-items: center;
        .myself {
          width: 35px;
          height: 20px;
          background-color: rgba(0, 255, 0, 0.2);
          color: rgba(0, 180, 0, 0.6);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
          border-radius: 5px;
          border: 1px solid rgba(0, 180, 0, 0.3);;
          h2 {
            font-size: 14px;
          }
        }
        .comment-box-main-rght-userInfo-userName {
          a {
            font-size: 18px;
            text-decoration: none;
            color: blue;
          }
        }
        .comment-box-main-rght-userInfo-date {
          // 先留着
          margin-left: 10px;
        }
        .comment-box-main-rght-userInfo-icon {
          height: 30px;
          margin-left: auto;
          display: flex;
          align-items: center;
          .bang {
            display: flex;
            align-items: center;
            margin-right: 5px;
            span {
              margin-top: 6px;
              font-size: 16px;
              color: #1096db;
            }
          }
          img {
            width: 16px;
            height: 16px;
            margin-right: 3px;
          }
        }
      }
      .comment-box-main-rght-userInfo-content {
        .md-editor-preview-wrapper {
          margin-bottom: 5px;
          background-color: rgba(0, 0, 0, 0.05);
          border-radius: 5px;
          padding: 0 5px;
        }
      }
      .comment-box-main-rght-userInfo-sendComment {
        background-color: antiquewhite;
        textarea {
          border: 0px;
          margin: 5px 10px;
          border-radius: 5px;
          padding: 10px 10px;
          width: calc(100% - 40px);
        }
        textarea:-ms-input-placeholder {
          height: 50px;
          text-align: center;
          line-height: 50px;
        }
        textarea::-moz-placeholder{
          height: 50px;
          text-align: center;
          line-height: 50px;
        }
        textarea::-webkit-input-placeholder{
          height: 50px;
          text-align: center;
          line-height: 50px;
        }
        .md-editor {
          height: 200px;
        }
        .comment-box-main-rght-userInfo-sendComment-button {
          border: 0px;
          margin: 5px 10px;
          border-radius: 5px;
          padding: 10px 10px;
          width: calc(100% - 40px);
          display: flex;
          justify-content: center;
          align-items: center;
          .send {
            background-color: #03A2F0;
            color: #fff;
            border-radius: 5px;
            height: 35px;
            padding: 0 15px;
            margin: 0 5px;
          }
          .letLook {
            background-color: #ABAAAB;
            color: #fff;
            border-radius: 5px;
            height: 35px;
            padding: 0 15px;
            margin: 0 5px;
          }
          .seeyou {
            background-color: #F5A623;
            color: #fff;
            border-radius: 5px;
            height: 35px;
            padding: 0 15px;
            margin: 0 5px;
          }
        }
      }
      hr {
        margin: 5px 0; border-top: 1px dashed rgba(0, 0, 0, 0.5);
      }
    }
  }
  .comment-sub-box-main {
    display: flex;
    border-radius: 10px;
    img {
      position: relative;
      left: 0;
      top: 0;
      width: 32px;
      height: 32px;
      border-radius: 5px;
    }
    .comment-sub-box-main-rght {
      // position: relative;
      // left: 53px;
      // top: -51px;
      margin-left: 5px;
      width: calc(100% - 48px - 5px);
      background-color: #fff;
      .comment-sub-box-main-rght-userInfo {
        height: 30px;
        display: flex;
        align-items: center;
        .myself-sub {
          width: 35px;
          height: 20px;
          background-color: rgba(0, 255, 0, 0.2);
          color: rgba(0, 180, 0, 0.6);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          margin-left: 10px;
          border: 1px solid rgba(0, 180, 0, 0.3);;
          h2 {
            font-size: 14px;
          }
        }
        .comment-sub-box-main-rght-userInfo-userName {
          a {
            font-size: 18px;
            text-decoration: none;
            color: blue;
          }
        }
        .comment-sub-box-main-rght-userInfo-date {
          // 先留着
          margin-left: 10px;
        }
        .comment-sub-box-main-rght-userInfo-icon {
          height: 30px;
          margin-left: auto;
          display: flex;
          align-items: center;
          .bang-sub {
            display: flex;
            align-items: center;
            margin-right: 5px;
            span {
              margin-top: 6px;
              font-size: 16px;
              color: #1096db;
            }
          }
          img {
            width: 16px;
            height: 16px;
            margin-right: 3px;
          }
        }
      }
      .comment-sub-box-main-rght-userInfo-to {
        display: flex;
        .to {
          color: rgba(0, 0, 0, 0.6);
        }
        .user:hover {
          color: blue;
        }
      }
      .comment-sub-box-main-rght-userInfo-content {
        .md-editor-preview-wrapper {
          margin-bottom: 5px;
          background-color: rgba(0, 0, 0, 0.05);
          border-radius: 5px;
          padding: 0 5px;
        }
      }
    }
  }
  .loadSub {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      color: #fff;
    }
  }
  .comment-sub-box-main-rght-userInfo-sendComment {
    background-color: antiquewhite;
    textarea {
      border: 0px;
      margin: 5px 10px;
      border-radius: 5px;
      padding: 10px 10px;
      width: calc(100% - 40px);
    }
    textarea:-ms-input-placeholder {
      height: 50px;
      text-align: center;
      line-height: 50px;
    }
    textarea::-moz-placeholder{
      height: 50px;
      text-align: center;
      line-height: 50px;
    }
    textarea::-webkit-input-placeholder{
      height: 50px;
      text-align: center;
      line-height: 50px;
    }
    .comment-sub-box-main-rght-userInfo-sendComment-button {
      border: 0px;
      margin: 5px 10px;
      border-radius: 5px;
      padding: 10px 10px;
      width: calc(100% - 40px);
      display: flex;
      justify-content: center;
      align-items: center;
      .send {
        background-color: #03A2F0;
        color: #fff;
        border-radius: 5px;
        height: 35px;
        padding: 0 15px;
        margin: 0 5px;
      }
      .letLook {
        background-color: #ABAAAB;
        color: #fff;
        border-radius: 5px;
        height: 35px;
        padding: 0 15px;
        margin: 0 5px;
      }
      .seeyou {
        background-color: #F5A623;
        color: #fff;
        border-radius: 5px;
        height: 35px;
        padding: 0 15px;
        margin: 0 5px;
      }
    }
  }
  hr {
    margin: 5px 0; border-top: 1px dashed rgba(0, 0, 0, 0.5);
  }
  .github-theme pre code {
    padding: 5px 8px;
  }
}
.loadSub {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    color: #fff;
  }
}
