//设置全屏背景
body {
    font-family: YunFengHanChanTi;
    cursor: url(https://cdn.woaibocai.top/bcblog/assets/cursor/link.cur), default;
    // ~/assets/img/dandelion-445228_1280.jpg
    background-image: url(https://img2.wallspic.com/previews/8/3/5/6/7/176538/176538-tu_biao-shu_ma_yi_shu-yi_shu-bing_chuan_de_mao-xie_po-x750.jpg);
    // background-image: url(~/assets/img/dandelion-445228_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}